DATABASE_URL=""
DATABASE_CONNECTION_TYPE="remote"
DATABASE_AUTH_TOKEN=""
NODE_ENV="development"
PORT = 8000
SIGN_PUBLIC_KEY = "-----BEGIN PUBLIC KEY-----
KEY CONTENT
-----END PUBLIC KEY-----"
SIGN_PRIVATE_KEY = "-----BEGIN PRIVATE KEY-----
KEY CONTENT
-----END PRIVATE KEY-----"
ENC_PUBLIC_KEY = "-----BEGIN PUBLIC KEY-----
KEY CONTENT
-----END PUBLIC KEY-----"
ENC_PRIVATE_KEY = "-----BEGIN PRIVATE KEY-----
KEY CONTENT
-----END PRIVATE KEY-----"
ENC_KID = "enc-2023-05-11T09:51:58Z"
SIGN_KID = "sig-2023-05-11T09:55:59Z"
S3_ACCESS_KEY_ID="ID CONTENT"
S3_SECRET_ACCESS_KEY="KEY CONTENT"
BUCKET_NAME = "BUCKET NAME"
SERVER_URL = "http://localhost:8000"